<div class="post">
    
<h3>Книга "Технология успеха viki5"</h3>
     
</div >

<div class="post">
    
<h3>Видео лекция "Технология успеха viki5"</h3>
     
</div >

<div class="post">
    
<h3>Выберите роль инвестора</h3>
<div class="choise_div" >
    <a class="choise_menu " href="/api/saved/192">выбрать роль инвестора</a>
   </div >
Я хочу взойти на вершину иерахии общества. <br>
Я хочу быть на вершине пищевой цепочки. <br>
Я хочу чтобы весь мир работал на меня.<br>
Я хочу чтобы предприниматели работали на меня и отдавали мне от 50 до 90% чистой прибыли<br>
И для этого я готов инвестировать свои деньги в бизнес<br>
Я готов дать деньги предпринимателям для того чтобы они открыли на мои деньги бизнесы и затем отдавали мне
от 50 до 90% чистой прибыли от работы данных бизнесов.<br>
Я готов  стать инвесторм.<br>
Я хочу стать инвестором.
<br>


     
</div >

<div class="post">
    
<h3>Выберите роль предпринимателя</h3>
<div class="choise_div" >
    <a class="choise_menu " href="/api/saved/192">выбрать роль предпринимателя</a>
   </div >
Я готов взять деньги у инвесторов, открыть на эти деньги бизнес а затем отдавать
инвесторам от 50 до 90% чистой прибыли. <br>
Дайте мне инвестиции. <br>

<br>


     
</div >