<div class="css_inner_form">
    <h3>Проверьте свою почту</h3>
        Мы выслали Вам на почтовый ящик письмо.<br>
        Для входа перейдите по ссылке в данном письме.<br>
          </div>
        <div class="sign">
           <div  class="add_menu ">
        <a class="add_post_button" href = '<%= 'http://' + @target %>'>перейти на <%=  @target%></a>
    
    </div>  </div>