<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to example.com, <%= @euser %></h1>
    <h1>HTML</h1>
    <p>
      You have successfully signed up to example.com,
      your username is: <%= @euser %>.<br>
    </p>
    <p>
      To login to the site, just follow this link: <a 
      href = 'http://85.143.219.13/enter/?id=<%= @url %>'>войти в вики5</a>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>